.form-body {
    padding: 0px 50px 10px 50px;
}

.header {
    padding: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #29472b;
}

img {
    margin-bottom: 20px;
}

.session {
    margin-top: 20px;
}

.session p {
    margin-top: -20px;
    overflow-wrap: break-word;
    text-align: justify;
}

.required {
    margin-left: 5px;
    color: red;
}

.alert {
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .form-body {
        padding: 0 10px 10px 10px;
    }
    .header {
        padding: 20px 5px;
        font-size: 1rem;
    }
    .session p {
        font-size: 0.95rem;
    }
}


@media (max-width: 480px) {
    .header h3, .header h5 {
        font-size: 1rem;
    }
    .form-body {
        padding: 0 2vw 10px 2vw;
    }
}
