.header {
    padding: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #29472b;
}

.form-body {
    padding: 0px 50px 0px 50px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #29472b;
}

.footer a {
    color:#ffffff;
    text-decoration: none;
}

img {
    margin-bottom: 20px;
}

.session {
    margin-top: 20px;
}

.session p {
    margin-top: -20px;
    overflow-wrap: break-word;
    text-align: justify;
}

.required {
    margin-left: 5px;
    color: red;
}

.alert {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .header {
        padding: 20px 5px;
        font-size: 1rem;
    }

    .form-body {
        padding: 0 0 0 100px;
    }

    .footer {
        padding: 20px;
        font-size: 1rem;
    }

    .session p {
        font-size: 0.95rem;
    }
}

@media (max-width: 600px) {
    .header h3 {
        font-size: 1rem;
    }

    .header h5 {
        font-size: 0.8rem;
    }
    
    .form-body {
        padding: 0 20px 0 20px;
    }

    .footer {
        padding: 20px;
        font-size: 0.7rem;
    }
}
